.detailContent {
  max-width: 220px;

  p {
    white-space: pre-wrap;
    word-break: break-all;
  }
}

.userTxtAvatar {
  background-color: #87d068;
  text-transform: uppercase;
  font-weight: 700;
}
