.page {
  padding-bottom: 20px;
}
// 面包屑
.breadcrumb {
  padding: 12px 20px;
  // background-color: #fff;
}

.pageContent {
  margin: 0 20px;
}

.pageContentInner {
  // background-color: #fff;
  // padding: 20px;
}
